.searchInput{
    position: relative;
    display: inline-block;
    height: fit-content;
}

.searchIcon{

}

.searchInput input[type="search"] {
    padding-left: 30px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .searchInput .searchIcon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
  }

  .searchIcon svg{
    font-size: 16px;
  }